html{
  font-size: 62.5%;
  // overflow: hidden;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  // overflow: hidden;
}
.florita_content{
  width: 393px;
  height: 852px;
  border: 1px solid #000;
  overflow: hidden;
}