$main-color:#e5cdc5;
$accent-color:#a5918a;

html{
  font-size: 62.5%;
  // overflow: hidden;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  // overflow: hidden;
}
.florita_content{
  width: 393px;
  height: 852px;
  border: 1px solid #000;
  overflow: hidden;
}
header{
  width: 100%;
  height: 60px;
  background:$main-color;
  position: relative;
  h2{
    color: #eee;
    text-align: center;
    line-height: 60px;
    font-size: 2.4rem;
  }
  figure{
    width: 24px;
    height: 24px;
    // position: absolute;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .searchButton{
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .cartButton{
    position: absolute;
    top: 16px;
    right: 10px;
  }
}
main{
  width: 100%;
  height: 608px;
  .merchandiseContent{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto 0;
    .imgContent{
      width: 50%;
      height: 300px;
      // border: #000 1px solid;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .infoContent{
      width: 35%;
      // border: #000 1px solid;
      h2{
        color: $accent-color;
        font-size: 18px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  .explanationContent{
    width: 90%;
    margin: 30px auto 0;
    h2{
      font-size: 20px;
      color: $accent-color;
    }
    p{
      font-size: 14px;
    }
    .backButton{
      margin: 150px auto 0;
    }
  }
}
footer{
  // border: 2px solid blue;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  .purchase{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: #eee;
    background:$accent-color;
    font-size:14px;
  }
}