body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.florita_content{
  width: 393px;
  height: 852px;
  border: 1px solid #000;
}
header{
  width: 100%;
  height: 60px;
  background:rgb(246, 225, 187) ;
  h2{
    color: #eee;
    text-align: center;
    line-height: 100vh;
  }
}